{% extends 'base.html' %} <!-- wczytywanie szablonu base.html -->

{% block title %}Contact{% endblock %}

{% block content %}
<!-- Rozszerzenie szablonu bazowego 'base.html' i zdefiniowanie tytułu strony -->

<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <!-- Kontener o szerokości 50%, wyśrodkowany w poziomie, z tłem szarym i zaokrąglonymi rogami -->

    <h1 class="text-center">Autor: Przemek</h1>
    <!-- Nagłówek z tekstem "Autor: Przemek", wyśrodkowany na środku kontenera -->
</div>

{% endblock %}
<!-- Zakończenie bloku 'content' -->
