{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl text-center">Log in</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-4">
            <label for="id_username" class="block mb-2 text-gray-600"><i class="fa-regular fa-envelope"></i> Email:</label>
            <input type="email" id="id_username" name="username" class="w-full py-2 px-3 rounded-xl border">
        </div>

        <div class="mb-4">
            <label for="id_password" class="block mb-2 text-gray-600"><i class="fa-solid fa-key"></i> Password:</label>
            <input type="password" id="id_password" name="password" class="w-full py-2 px-3 rounded-xl border">
        </div>
        <div>
            <p class="text-center"><a class="mx-auto icon-link" href="{% url 'glowny:signup' %}">Brak konta? Zarejestruj się</a></p>
            <br>
            <p class="text-center"><a class="mx-auto icon-link" href="{% url 'konto:password_reset' %}">Nie pamiętasz hasła?</a></p>

        </div>
        {% if form.errors or form.non_field_errors %}
            <div class="mb-4 p-6 bg-red-100 rounded-xl">
                <ul class="list-disc list-inside text-red-600">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    <li>{{ form.non_field_errors }}</li>
                </ul>
            </div>
        {% endif %}
    <br>
        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white block mx-auto">Submit</button>
    </form>
</div>
{% endblock %}
