{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl text-center">Update Profile</h1>

    <form method="post" action="{% url 'glowny:update' %}" class="space-y-4">
        {% csrf_token %}

        <div class="mb-4">
            <label for="email" class="block mb-2 text-gray-600">Email:</label>
            <input type="text" id="email" name="email" class="w-full py-2 px-3 rounded-xl border" value="{{ form.email.value }}">
        </div>

        <div class="mb-4">
            <label for="first_name" class="block mb-2 text-gray-600">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="w-full py-2 px-3 rounded-xl border" value="{{ form.first_name.value }}">
        </div>

        <div class="mb-4">
            <label for="last_name" class="block mb-2 text-gray-600">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="w-full py-2 px-3 rounded-xl border" value="{{ form.last_name.value }}">
        </div>

        <div class="mb-4">
            <label for="wojewodztwo" class="block mb-2 text-gray-600">Województwo:</label>
            <input type="text" id="wojewodztwo" name="wojewodztwo" class="w-full py-2 px-3 rounded-xl border" value="{{ form.wojewodztwo.value }}">
        </div>

        <div class="mb-4">
            <label for="miasto" class="block mb-2 text-gray-600">Miasto:</label>
            <input type="text" id="miasto" name="miasto" class="w-full py-2 px-3 rounded-xl border" value="{{ form.miasto.value }}">
        </div>

        <div class="mb-4">
            <label for="ulica" class="block mb-2 text-gray-600">Ulica:</label>
            <input type="text" id="ulica" name="ulica" class="w-full py-2 px-3 rounded-xl border" value="{{ form.ulica.value }}">
        </div>

        <div class="mb-4">
            <label for="nr_domu" class="block mb-2 text-gray-600">Numer domu:</label>
            <input type="text" id="nr_domu" name="nr_domu" class="w-full py-2 px-3 rounded-xl border" value="{{ form.nr_domu.value }}">
        </div>

        <div class="mb-4">
            <label for="kod_pocztowy" class="block mb-2 text-gray-600">Kod pocztowy:</label>
            <input type="text" id="kod_pocztowy" name="kod_pocztowy" class="w-full py-2 px-3 rounded-xl border" value="{{ form.kod_pocztowy.value }}">
        </div>

        {% if form.errors %}
            <div class="p-6 bg-red-100 rounded-xl">
                <ul class="list-disc list-inside text-red-600">
                    {% for error in form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button class="mt-6 py-4 px-8 text-lg bg-blue-500 hover:bg-blue-900 rounded-xl text-white block mx-auto">Update</button>

    </form>
</div>

{% endblock %}