{% extends 'base.html' %}

{% block title %}Update{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Update</h1>

    <form method="post" action="{% url 'glowny:update' %}">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Email</label><br>
            {{ form.email }}

        <div class="mb-3">
            <label class="inline-block mb-2">First Name</label><br>
            {{ form.first_name }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Last Name</label><br>
            {{ form.last_name }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Województwo</label><br>
            {{ form.wojewodztwo }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Miasto</label><br>
            {{ form.miasto }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Ulica</label><br>
            {{ form.ulica }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Numer domu</label><br>
            {{ form.nr_domu }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Kod pocztowy</label><br>
            {{ form.kod_pocztowy }}
        </div>

        {% if form.errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {{ form.errors }}
            </div>
        {% endif %}

        <button class="mb-6 py-2 px-4 text-lg bg-blue-500 hover:bg-blue-900 rounded-xl text-white">Update</button>
    </form>
</div>

{% endblock %}
