{% extends 'base.html' %}

{% block title %}Update Password{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl text-center">Update Password</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-4">
            <label for="id_old_password" class="block mb-2 text-gray-600">Old Password:</label>
            <input type="password" id="id_old_password" name="old_password" class="w-full py-2 px-3 rounded-xl border">
        </div>

        <div class="mb-4">
            <label for="id_new_password1" class="block mb-2 text-gray-600">New Password:</label>
            <input type="password" id="id_new_password1" name="new_password1" class="w-full py-2 px-3 rounded-xl border">
        </div>

        <div class="mb-4">
            <label for="id_new_password2" class="block mb-2 text-gray-600">Confirm New Password:</label>
            <input type="password" id="id_new_password2" name="new_password2" class="w-full py-2 px-3 rounded-xl border">
        </div>

        {% if form.errors %}
            <div class="p-6 bg-red-100 rounded-xl">
                <ul class="list-disc list-inside text-red-600">
                    {% for error in form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button class="mt-6 py-4 px-8 text-lg bg-blue-500 hover:bg-blue-900 rounded-xl text-white block mx-auto">Update</button>
    </form>
</div>
{% endblock %}
