{% extends 'base.html' %}

{% block title %}Update Password{% endblock %}

{% block content %}
<!-- Rozszerzenie szablonu bazowego 'base.html' i zdefiniowanie tytułu strony jako "Update Password" -->

<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <!-- Kontener o szerokości 50%, wyśrodkowany w poziomie, tłem szarym i zaokrąglonymi rogami -->

    <h1 class="mb-6 text-3xl text-center">Update Password</h1>
    <!-- Nagłówek "Update Password" o rozmiarze 3xl (bardzo duża czcionka) i wyśrodkowany na środku -->

    <form method="post" action=".">
        <!-- Formularz POST bez określonej akcji, co oznacza, że dane zostaną wysłane na tę samą stronę -->

        {% csrf_token %}
        <!-- Token CSRF -->

        <div class="mb-4">
            <label for="id_old_password" class="block mb-2 text-gray-600">Stare hasło:</label>
            <!-- Pole etykiety "Old Password" -->

            <input type="password" id="id_old_password" name="old_password" class="w-full py-2 px-3 rounded-xl border">
            <!-- Pole wprowadzania starego hasła -->
        </div>

        <div class="mb-4">
            <label for="id_new_password1" class="block mb-2 text-gray-600">Nowe hasło:</label>
            <!-- Pole etykiety "New Password" -->

            <input type="password" id="id_new_password1" name="new_password1" class="w-full py-2 px-3 rounded-xl border">
            <!-- Pole wprowadzania nowego hasła -->
        </div>

        <div class="mb-4">
            <label for "id_new_password2" class="block mb-2 text-gray-600">Potwierdz nowe hasło:</label>
            <!-- Pole etykiety "Confirm New Password" -->

            <input type="password" id="id_new_password2" name="new_password2" class="w-full py-2 px-3 rounded-xl border">
            <!-- Pole wprowadzania potwierdzenia nowego hasła -->
        </div>

        {% if form.errors %}
            <!-- Wyświetlanie błędów formularza, jeśli istnieją -->

            <div class="p-6 bg-red-100 rounded-xl">
                <!-- Kontener z błędami w czerwonym tle -->

                <ul class="list-disc list-inside text-red-600">
                    <!-- Lista błędów -->

                    {% for error in form.errors %}
                        <li>{{ error }}</li>
                        <!-- Wyświetlanie błędów w liście -->
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button class="mt-6 py-4 px-8 text-lg bg-blue-500 hover:bg-blue-900 rounded-xl text-white block mx-auto">Update</button>
        <!-- Przycisk "Update" do aktualizacji hasła -->
    </form>
</div>
{% endblock %}
<!-- Zakończenie bloku 'content' -->
