{% extends 'base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ item.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
        <h1 class="mb-6 text-xl">Gratulacje</h1>
        <h1 class="mb-6 text-xl">Kupiłes {{ item.name }}</h1>

        <p class="text-gray-500">Twoje dane</p>
        <p class="text-gray-500">Login: {{ request.user.email }}</p>
        <p class="text-gray-500">Miasto: {{ request.user.miasto }}</p>
        <p class="text-gray-500">Nr domu: {{ request.user.nr_domu }}</p>
        <p class="text-gray-500">Kod Pocztowy: {{ request.user.kod_pocztowy }}</p>



    </div>
</div>

{% endblock %}