{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl text-center">Resetowanie hasła</h1>
        <!-- Tytuł i nagłówek strony resetowania hasła. -->

        <p class="text-center">Link został wysłany na podany email</p>
        <!-- Informacja o pomyślnej zmianie adresu e-mail użytkownika. -->
    </div>
    <div class="flex justify-center">

    <a href="{% url 'glowny:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover-bg-gray-700">Log in</a>
    </div>
    <!-- Przycisk "Log in" umożliwiający użytkownikowi przejście do strony logowania. -->
{% endblock %}
