{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}
<!-- Ustawia tytuł strony na "Resetowanie hasła". -->

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <!-- Kontener dla zawartości formularza. -->
    <h1 class="mb-6 text-3xl text-center">Reset hasła</h1>
    <!-- Nagłówek strony. -->

    <form method="post">
        {% csrf_token %}
        <!-- Pole tokena CSRF do zabezpieczenia przed atakami CSRF. -->

        <div class="mb-4">
            <label for="id_new_password1" class="block mb-2 text-gray-600">Nowe hasło:</label>
            <!-- Etykieta dla pola nowego hasła. -->
            <input type="password" id="id_new_password1" name="new_password1" class="w-full py-2 px-3 rounded-xl border">
            <!-- Pole do wprowadzenia nowego hasła. -->
        </div>

        <div class="mb-4">
            <label for="id_new_password2" class="block mb-2 text-gray-600">Nowe Hasło Powtorz:</label>
            <!-- Etykieta dla pola potwierdzenia nowego hasła. -->
            <input type="password" id="id_new_password2" name="new_password2" class="w-full py-2 px-3 rounded-xl border">
            <!-- Pole do potwierdzenia nowego hasła. -->
        </div>

        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white block mx-auto">Resetuj hasło</button>
        <!-- Przycisk do zresetowania hasła. -->
    </form>
</div>

{% endblock %}
